<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        src="/assets/images/logo-design-1.jpeg"
        alt="Logo"
        draggable="false"
        height="30"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-collapse-init
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapsed()"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div id="navbarSupportedContent"
    [ngClass]="{'collapse':collapsed, 'navbar-collapse':true}">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!"
            ><i class="fas fa-plus-circle pe-2"></i>Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!"
            ><i class="fas fa-bell pe-2"></i>Items</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!"
            ><i class="fas fa-heart pe-2"></i>Cart</a
          >
        </li>
        <li class="nav-item ms-3">
          <a class="btn btn-outline-dark btn-rounded">Sign in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
