.dropdown select {
  width: 25%;
}

#item-cards img {
  height: 200px;
}

#item-cards .card .card-body a {
  color: black;
  font-size: 15px;
  text-align: right;
}

#item-cards .card .parentContainer {
  position: relative;
  text-align: center;
  color: white;
}

#item-cards .card .parentContainer .top-left {
  position: absolute;
  top: 10px;
  left: 15px;
}

#item-cards .card .parentContainer .bottom-right {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background-color: white;
  color: black;
}

.set-padding {
  padding: 1%;
}
