<!-- Dropdown starts -->
<section class="dropdown text-center my-4">
  <select
    id="selectCategory"
    class="form-select btn btn-secondary itemCategories"
    aria-label="Default select example"
  >
    <option selected value="0">All</option>
    <option value="1">Burger</option>
    <option value="2">Submarine</option>
    <option value="3">Fries</option>
    <option value="4">Pasta</option>
    <option value="5">Chicken</option>
    <option value="6">Drinks</option>
  </select>
</section>
<!-- Dropdown ends -->

<!-- Item cards start -->
<section class="item">
  <div class="container my-5">
    <div class="row" id="item-cards"></div>
  </div>
</section>
<!-- Item cards end -->
